@keyframes load {
    
}
@keyframes slide-to-side {
    from{
        transform: rotateX(90deg);
        opacity: 0;
    }
    to{
        transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes extend {
    0%{
        height: 79.4px;
    }
    100%{
        height: 300px;
    }
}
@keyframes slidein{
    from{
        transform: translateX(-400px);
        opacity: 0.75;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
::-webkit-scrollbar{
    display: none;
}
html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-align: start;

    max-width: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    background-color: #151F26;
    max-width: 100%;
    overflow-x: hidden;
}
header{
    margin: -90px 2.5% 0px 2.5%;
    border-radius: 20px;
    width: 95%;
    height: 90px;
    /* position: relative; */
    background-color: grey;
    overflow: hidden;
}
.header_slide{
    transform: translateY(100px);
}
a.h1-home{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: 90px;
    z-index: 3;
}
.banner_h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.674);
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    width: 450px;
    margin: 16px 0 0 0;
    text-align: center;
    /* margin-top: 1%; */
    z-index: 2;
    text-shadow: 2px 2px 4px #000000;
}
.img_banner{
    width: 3200px;
    height: 90px;
    object-fit: cover;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: none;
    position: absolute;
    width: 95%;
    height: 90px;
    top: 10px;
    z-index: 2;
    border-radius: 20px;
}
.nav-left, .nav-right{
    margin: 36px 2.5% 0 2.5%;
    z-index: 2;
    width: 300px;
}
/* .nav-left{
    
}
.nav-right{
    
} */
.nav_a{
    margin: -17px 3%;
    text-decoration: none;
    color: #202f39;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #8f8698ab;
    padding: 18px;
    border-radius: 10px;
    display: inline-block;
}
.nav_left:hover{
    background-color: #8f8698f1;
    transform: rotateZ(-3deg);
    transition: 0.275s;
}
.nav_right:hover{
    background-color: #8f8698f1;
    transform: rotateZ(3deg);
    transition: 0.275s;
}
.footer_p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 248, 255, 0.896);
    margin-top: 40px;
    margin-bottom: 20px;
}
.img_logo{
    display: none;
}
.nav-responsive{
    display: none;
}
.menu-btn{
    display: none;
}
/* General Breakpoints (Responsive) */
@media screen and (max-width: 1200px){
    .banner_h1{
        display: none;
    }
    .nav{
        display: none;
    }
    .nav_a1{
        margin-right: 3%;
    }
    .nav-responsive{
        display: inline-block;
        position: absolute;
        width: 80%;
        height: auto;
        top: 10px;
        right: 0;
        z-index: 2;
        margin-top: 10px;
    }
    .nav-main-responsive .nav_a{
        justify-self: right;
        margin: 10px 3%;
    }
    .nav_a:hover{
        background-color: #8f8698f1;
        transform: rotateZ(3deg);
        transition: 0.275s;
    }
    a.h1-home{
        display: none;
    }
    .img_logo{
        display: block;
        position: absolute;
        width: 75px;
        height: auto;
        top: 16px;
        left: 10%;
        transform: translateX(-10%);
        margin-top: 10px;
        z-index: 3;
        cursor: pointer;
    }
}
@media screen and (max-width: 840px){
    .nav-responsive{
        opacity: 0;
    }
    .nav-responsive.show{
        opacity: 1;
        transition: opacity 0.38s ease-in;

        display: flex;
        justify-content: center;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav-main-responsive{
        display: inherit;
        flex-direction: column;
        background-color: #8f8698e4;
        border-radius: 20px;
        padding: 10px 0;
        width: 80%;
    }
    .nav-main-responsive.extend{
        animation: extend 2.5s ease-in-out forwards;
    }
    /* Flipping Menu Tiles */
    .nav_a1, .nav_a2, .nav_a3, .nav_a4{
        transform: rotateX(90deg);
        opacity: 0;
    }
    .nav_a1.slide-to-side{
        animation: slide-to-side 1s ease-in-out;
        transform: rotateX(0deg);

        opacity: 1;
        transition: opacity 1s;
    }
    .nav_a2.slide-to-side{
        animation: slide-to-side 1s ease-in-out;
        transform: rotateX(0deg);
        animation-delay: 0.5s;

        opacity: 1;
        transition: opacity 2s;
        transition-delay: 0.5s;
    }
    .nav_a3.slide-to-side{
        animation: slide-to-side 1s ease-in-out;
        transform: rotateX(0deg);
        animation-delay: 1s;

        opacity: 1;
        transition: opacity 2s;
        transition-delay: 1s;
    }
    .nav_a4.slide-to-side{
        animation: slide-to-side 1s ease-in-out;
        transform: rotateX(0deg);
        animation-delay: 1.5s;

        opacity: 1;
        transition: opacity 2s;
        transition-delay: 1.5s;
    }
    /* End Flipping Menu Tiles */
    .img_logo{
        left: 50%;
        transform: translateX(-50%);
    }
    .menu-btn{
        display: inline-block;
        position: absolute;
        top: 25px;
        left: 20%;
        transform: translateX(-20%);
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 3;
    }
}
@media screen and (max-width: 400px){
    .img_logo{
        right: 35%;
        transform: translateX(35%);
    }
    .menu-btn{
        left: 20%;
        transform: translateX(-20%);
    }
    .nav-main-responsive{
        width: 100%;
    }
}


/* Main Page-Specific CSS */
/* header, footer{
    display: none;
} */
.background-video{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: cover;
}
h1.loading{
    display: block;
    text-align: center;
    width: 275px;
    padding: 5px 0;
    margin: 30vh auto 0 auto;
    border-radius: 20px;
    color: #202f39;
    background-color: #8f8698a8;
    
}
p.loading{
    text-align: center;
    color: #c8c1ce;
    font-size: 1.2em;
    margin: 40px 1%;
}
h1.loading, p.loading{
    opacity: 0;
    animation: loaders 8s ease-in;
}
.ytvid_load{
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
    animation: loaders 8s reverse;
    width: 60vw;
    height: 375px;
}
.down_arrow{
    margin-top: 140px;
    margin-left: 50vw;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.anchor_img{
    width: 40%;
    height: fit-content;
    margin-top: 100px;
    margin-left: 50vw;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 5px solid #202f39;
}
.anchor_expansion{
    text-align: center;
    color: #608096;
    margin: 0 10%;
}
h3.anchor_expansion{
    font-size: 1.7em;
    text-shadow: 0 0 1.5px #ffffff;
}
p.anchor_expansion{
    font-size: 1.15em;
    margin-top: 10px;
}
@keyframes loaders {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@media screen and (max-width: 1200px){
    .ytvid_load{
        width: 80vw;
        height: 275px;
    }
}
@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
    .ytvid_load{
        width: 90%;
        /* height: 275px; */
    }
    .anchor_img{
        width: 80%;
    }
    .down_arrow{
        margin-top: 40px;
    }
}
@media screen and (max-width: 400px){
    .ytvid_load{
        width: 90%;
        height: 200px;
    }
    .anchor_img{
        width: 90%;
    }
}
/* END Main Page-Specific CSS */

/* Contact-Specific CSS */
.contact_body{
    margin: 0;
    padding: 0;
}
.contact_main{
    margin-top: 20px;
}
div.what-to-flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(240, 248, 255, 0.642);
    width: 90%;
    margin: 0 auto;

}
.flexh2{
    width: 28%;
    margin: 0 2%;
    text-align: center;
    color: #608096;
}
.flexh2:nth-child(2){
    /* margin-top: 10px; */
    width: 30%;
}
.sub-what-to{
    width: 30%;
}
.sub-what-to1{
   border-right: 2px solid #608096;
}
.sub-what-to3{
    border-left: 2px solid #608096;
}
.sub-what-to li{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 248, 255, 0.896);
    margin: 0 1% 2% 1%;
}
.resources_a{
    color: #8f8698;
    text-decoration: none;
}
.contact_form{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 210px 25% 0 25%;

    background-color: #d9c1bf;
    padding: 2% 2.5%;
    border-radius: 20px;
    box-shadow: 0 20px 2em 1em #7B7B6D;
}
.slide_down{
    margin-top: 130px;
}
.contact_h1, .contact_intro{
    text-align: center;
    color: #202f39;
    font-family: Arial, Helvetica, sans-serif;
}
div.circle-clip{
    background-color: #D9C1BF;
    width: 65%;
    height: 400px;
    margin-top: 100px;
    clip-path: circle(50% at 50% 50%);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 2em 1em #7B7B6D;
    border-radius: 20px;
}
input.submit{
    width: 20%;
    margin: 0 auto;
    font-family: "Dancing Script", cursive, sans-serif;
    font-weight: 700;
    font-size: large;
    border-radius: 20px;
    border: none;
    padding: 0.5px 0 0.5px 0;
}
textarea{
    resize: vertical;
}
.what-to-responsive-flexbox{
    display: none;
}
/* Contact-Specific CSS Breakpoints */
@media screen and (max-width: 1400px){
    div.what-to-flexbox{
        display: none;
    }
    div.what-to-responsive-flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid rgba(240, 248, 255, 0.642);
        width: 90%;
        margin: 0 auto;
    }
    div.what-to-responsive-flexbox .flexh2{
        width: 80%;
        padding: 20px 0 10px 0;
        border-top: 2px solid #608096;
    }
    div.what-to-responsive-flexbox .sub-what-to{
        width: 80%;
        /* padding: 10px 0 20px 0; */
    }
    .what-to-responsive-flexbox .flexh2:first-of-type{
        border-top: none;
        margin-top: 0;
    }
    .sub-what-to1, .sub-what-to3{
        border: none;
    }
}
@media screen and (max-width: 1300px){
    .contact_form{
        width: 60%;
        margin-right: 17%;
        margin-left: 17%;
    }
    
}
@media screen and (max-width: 900px){
    .contact_form{
        width: 80%;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 230px;
    }
    div.circle-clip{
        clip-path: circle(70% at 50% 50%);
        height: 300px;
    }
}
@media screen and (max-width: 400px){
    .contact_form{
        margin-top: 240px;
    }
    div.circle-clip{
        clip-path: circle(80% at 50% 50%);
    }
}
@media screen and (max-width: 270px){
    .contact_form{
        margin-top: 300px;
    }
}


/* Biblical Resources-Specific CSS */
.resources_main{
    display: flex;
    flex-direction: row-reverse;
}
/* Aside */
.resources_aside{
    position: sticky;
    top: 10px;
    left: 2.5%;
    width: 20%;
    height: 90vh;
    margin: 20px auto 0 auto;
    background-image: radial-gradient(circle, #778288, #131c23);
    border-radius: 50px;
}
.resources_h2{
    text-align: center;
    color: #151F26;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #778288;
    border-radius: 20px;
    width: 85%;
    margin: 20px auto 10px auto;
}
.resources_ul{
    padding: 0 5%;
    margin: 0;
}
.resources_ul li{
    list-style-type: none;
    padding: 5px;
    margin: 10px 0;
    padding-left: 10px;
    background-color: #8f8698ab;
    width: 110%;
    border-radius: 7px;

    transform: scale(1);
    transition: 0.3s;
}
.resources_ul li:hover{
    background-color: #8f8698f1;
    transform: scale(1.05);
    transition: 0.3s;

    cursor: pointer;
}
.btn_aside{
    display: block;
    position: sticky;
    top: 10px;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 3;
}
/* End Aside */
/* Main Section */
.resources_section{
    width: 75%;
    padding-bottom: 50px;
}
.r_h1{
    width: fit-content;
    margin: 10px auto 20px auto;
    padding-right: 150px;
    background-image: radial-gradient( #ffffff, #ffffff, yellow, yellow, yellow);
    background-clip: text;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
}
.r_h2{
    width: fit-content;
    margin: 20px 0 0 45%;
    transform: translateX(-35%);
    padding-right: 150px;
    background-image: linear-gradient(to bottom left, #ff0000, #ffabab);
    background-clip: text;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
.r_s{
    color: rgba(240, 248, 255, 0.896);
    font-size: 1.35em;
    margin-left: 1.3%;
}
.r_p1{
    font-size: 1.2em;
    margin: 0 1% 20px 1%;
    color: #6C6977;
    text-shadow: 0.2px 0.2px 30px #ffffff;
}
p.church{
    font-size: 1.2em;
    margin: 10px 1% 20px 1%;
    background-image: url("../images/Empy-Tomb.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(240, 248, 255);
    text-shadow: 0 0 2px rgb(255, 255, 135);
    width: 95%;
    padding: 5px;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
}
quote#q4{
    position: absolute;
    width: 300px;
    right: 0;
}
.a_tag_bottom{
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    padding: 5px 0;
    border-radius: 15px;
    width: 250px;
    background-color: #608096;
    color: #151F26;
}
p.credit{
    text-align: center;
    font-size: 17px; 
    margin-top: 10px;
    color: rgba(240, 248, 255, 0.896);
}
.credit a{
    color: #8f8698;
    text-decoration: none;
}
.btn_aside, .btn_aside_back{
    display: none;
}
/* Biblical Resources-Specific CSS Breakpoints */
@media screen and (max-width: 1400px){
    .resources_section{
        width: 95%;
        margin: 0 auto;
    }
    .resources_section.main_opacity{
        opacity: 0;
        transition: opacity 3s ease-in;
    }
    .resources_section.main_opacity_remove{
        opacity: 1 !important;
        transition: opacity 3s ease-in !important;
    }
    .r_h1{
        font-size: 2em;
        padding-right: 100px;
    }
    .r_h2{
        font-size: 1.5em;
        margin: 20px auto 0 auto;
        transform: translateX(0);
        padding-right: 100px;
    }
    .btn_aside{
        display: block;
        position: sticky;
        top: 20px;
        left: 10px;
        margin: 0 0;
    }
    .btn_aside.hide{
        display: none;
    }
    .resources_aside{
        display: none;
        transform: translateX(-400px);
        transition-duration: 5s;
        top: 0;
        left: 0;
        width: inherit;
        height: auto;
    }
    .resources_aside.show_aside{
        position: sticky;
        top: 10px;
        left: 20px;
        width: 80vw;
        height: 100vh;
        z-index: 4;
        animation: slidein 3s;
        transform: translateX(0);
        background-image: radial-gradient(circle, #778288, #131c23);
        flex-shrink: 0;
    }
    .resources_ul li{
        background-color: #8f8698;
    }
    .btn_aside_back{
        margin-left: 40%;
        transform: translateX(-40%);
        transform: rotateZ(180deg);
        font-size: large;
        padding: 0 20px;
        width: 60px;
        height: 60px;
    }
    .btn_aside_back.show{
        display: block;
        cursor: pointer;
    }
}
/* End Biblical Resources-Specific CSS */

/* Get Involved-Specific CSS */
.flexy{
    display: flex;
    flex-direction: row-reverse;
}
.flexy2{
    display: flex;
    flex-direction: row;
}
.involved{
    text-align: center;
    margin: 0 5%;
}
h2.involved{
    margin: 75px 5% 20px 5%;
    color: #608096;
    font-size: 1.75em;
}
p.involved{
    color: #868197;
    font-size: 1.25em;
    font-weight: 600;
}
#ii2{
    width: 45vw;
    margin: 30px 2.5%;
}
.involved_img{
    display: block;
    width: 35%;
    height: fit-content;
    margin: 30px 7.5%;
}
@media screen and (max-width: 1030px){
    .flexy{
        flex-direction: column;
    }
    .flexy2{
        flex-direction: column;
    }
    .involved_img{
        width: 75vw !important;
        margin: 30px 12.5vw !important;
    }
}
/* End Get Involved-Specific CSS */

/* My Hope & Mission-Specific CSS */
.hope{
    text-align: center;
    margin: 20px 2.5%;
}
h1.hope{
    color: aliceblue;
}
p.hope{
    font-size: 1.25em;
    color: rgb(150, 206, 255);
}
.flex_imghold{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.di1 p, .di2 p{
    text-align: center;
    color: #778288;
    font-size: 1.2em;
}
.di1 img, .di2 img{
    display: block;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1160px){
    .flex_imghold{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
    .di1 img, .di2 img{
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
}